@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@layer utilities {
  .font-stretch {
    font-stretch: ultra-expanded;
  }
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
